.index-preview {
    // width: 100%;
    // height: 400px;
    background-image: url("../../../dist/img/me.png");
    background-repeat: no-repeat;
    // background-position: bottom right, left, right;
    background: linear-gradient(
    100deg,#C4C4C4 50%, #000 50%);
}