.section--portfolio {
    background: url("img/sectionPortfolio.png") no-repeat;
    // background-size: 100%;
}

.section {
    &__title {
        margin: 0 auto;
        width: 400px;
        letter-spacing: 15px;
        @include media_mobile($mobile-screen) {
            width: 300px;
            letter-spacing: 10px;

        }
    }
    
    
}