.footer {
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;

    @include media_mobile($mobile-screen) {
      padding: 70px 20px;  
    }
    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;
        gap: 10px;
        
    }
    &__img {
        position: relative;
        width: 15px;
        height: 15px;
        animation: bouncing 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
    }
    &__tagline {
        display: block;
        color: $white-color;
        text-transform: uppercase;
        font-family: $montserrat-font;
        font-size: 15px;
        font-weight: 700;
        
    }
    &__text {
        color: $white-color;
        font-size: 16px;
    }
}

.social-contacts {
    display: flex;
    padding-bottom: 44px;
    gap: 28px;
    &__img {
        &:hover {
            padding: 3px;
        }
    }
}

  @keyframes bouncing{
    0%  { 
        bottom: 0;
     }
    100% { 
        bottom: 50px;
    }
  }
  