$background-color:radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
$white-color: #FFF;
$black-color: #000;
$montserrat-font:'Montserrat', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$openSans-font: 'Open Sans', sans-serif;

$mobile-screen: 600px;
$tablet-screen: 768px;
$laptop-screen: 992px;
$large-screen: 1200px;