$background-color:radial-gradient( rgba(1, 1, 1, 0.16), rgba(26, 21, 21, 0));
$white-color: #FFF;
$black-color: #000;
$montserrat-font:'Montserrat', sans-serif;
$raleway-font: 'Raleway', sans-serif;
$openSans-font: 'Open Sans', sans-serif;