@import "variables";
@import "blocks/nav/nav";
@import "blocks/buttons/button";
@import "blocks/header/header";

body {
  background-color: $background-color;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1351px;
  margin: 0 auto;
  padding: 0 15px;
}