.splide {
  height: 100%;
}

.splide__slide img {
  height: 400px;
  width: 100%;
}

.splide__track {
  height: 100%;
}

.splide__list {
}

.preview-1 {
  background:  url("img/BurningMan.jpg") no-repeat;
}

.preview-2 {
  background:  url("img/CyberBionic.jpg") no-repeat;
}

.preview-3 {
  background:  url("img/MNTN.jpg") no-repeat;
}

.preview-4 {
  background:  url("img/jsGame.png") no-repeat;
}

.preview-5 {
  background:  url("img/wildberries.png") no-repeat;
}

.preview-6 {
  background:  url("img/appWeather.jpg") no-repeat;
}



.preview-slide {
  background-position: center center;
  background-size: contain;
  display: block;
  height: 100%;
}