.main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 220px;
  align-items: center;
  
  @include media_mobile($mobile-screen) {
    position: relative;
   }

  &__logo path {
    width: 55px;
    height: 50px;
    
    @include media_mobile($mobile-screen) {
      fill: $white-color;
      padding-bottom: 20px;
    }
  }
  &__link {
    &:hover {
      transform: rotate(40deg);
	    transition: all .5s linear;
    }
  }
  &__menu {
    position: absolute;
    right: 0;
    display: none;
    @include media_mobile($mobile-screen) {
      display: block;
      background-color: transparent;
    }
  }
  &__menu-open {
    display: none;
  }
  &__menu-close {
    display: block;
    
  }
}

.menu-close {
  display: none;
}