.link {
        display: block;
        text-align: center;
        line-height: 32px;
        width: 132px;
        height: 32px;

        border-left: 2px solid;
        border-right: 2px solid;

        font-family:$montserrat-font;
        font-size: 15px;
}