.nav {
  width: 530px;
  color: $white-color;

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    font-family: $montserrat-font;
    font-weight: 700;
    font-size: 17px;
    color: $white-color;
    text-decoration: none;
  }

  &__item {
    flex-basis: 25%;
  }
}




