.nav {
  width: 530px;
  color: $white-color;

    @include media_mobile($large-screen) {
      width: 400px;
    }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    

    
    @include media_mobile($mobile-screen) {
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 58px;
        margin: auto -25px;
        border-top: 1px solid $white-color;
        //display: none;
      }
  }

  &__link {
    font-family: $montserrat-font;
    font-weight: 700;
    font-size: 17px;
    color: $white-color;
    text-decoration: none;
    &:hover {
      color: $black-color;
      background-color: $white-color;
      border-radius: 30px;
    }

    @include media_mobile($large-screen) {
      font-size: 16px;
    }
    @include media_mobile($mobile-screen) {
      font-size: 18px;
    }
  }

  &__item {
    max-width: 170px;

    @include media_mobile($large-screen) {
      max-width: 100%;
    }
  }
}

.menu-open {
  display: flex;
}




